.app-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0000009d;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  height: 50px;
  margin-bottom: 1px;
  opacity: 0.9;
  position: relative;
  width: 100%;
}
.app-item .app-name {
  margin-left: 25px;
}

.app-item .app-action-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: -20px;
}

.app-item-blueviolet {
  -webkit-box-shadow: 5px 0 0 0 blueviolet inset;
          box-shadow: 5px 0 0 0 blueviolet inset;
}

.app-item-deepskyblue {
  -webkit-box-shadow: 5px 0 0 0 deepskyblue inset;
          box-shadow: 5px 0 0 0 deepskyblue inset;
}

.app-item-greenyellow {
  -webkit-box-shadow: 5px 0 0 0 greenyellow inset;
          box-shadow: 5px 0 0 0 greenyellow inset;
}

.app-item-lightgreen {
  -webkit-box-shadow: 5px 0 0 0 lightgreen inset;
          box-shadow: 5px 0 0 0 lightgreen inset;
}

.app-item-magenta {
  -webkit-box-shadow: 5px 0 0 0 magenta inset;
          box-shadow: 5px 0 0 0 magenta inset;
}
