@import url('https://fonts.googleapis.com/css?family=Montserrat');

.master-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  width: 100%;
}

.master-view .apps-menu {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 25%;
}

.master-view .server-canvas {
  overflow-y: auto;
  width: 100%;
}
